.kesz{
    background-color: red;
}
td{
    background-color: #ffffff00 !important;
}
.urlap{
    margin-top: 50px;
}
form{
    margin: auto;
    width: 50%;
    border: 1px solid rgba(128, 128, 128, 0.24);
    border-radius: 10px;
    box-shadow: 0px 1px 16px 1px;
    padding: 10px;
}
article{
    padding: 50px;
}

.valid{
    color: green;
}
.invalid{
    color:red;
}

.lathato{
    display: none;
}